<div class="card">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum iusto incidunt suscipit quos repellat impedit modi
  veniam nesciunt ipsum, quidem ratione, animi error accusamus dicta aliquam esse rem quam expedita.

  <div class="card">
    <%= book._id %>
  </div>
</div>