<div class="card mt-5 px-3">
  <div class="col border-primary my-3 d-flex justify-content-between">
    <%= author.name %>
      <button class="btn btn-danger btn-sm">DELETE</button>
  </div>
</div>
</div>

<script>
  let deleteBtn = document.querySelector(".btn-danger");
  deleteBtn.addEventListener("click", () => {
    fetch("/authors/<%=author._id%>", { method: "delete" })
      .then((res) => window.location.href = res.json())
      .then((data) => window.location.href = data.redirect)
      .catch((e) => console.log(e));
  })
</script>